@page "/Peliculas"
@using BlazorApp1.Components.Entities;
@using BlazorApp1.Components.Pages;
@rendermode InteractiveServer

<h1>Peliculas que vi</h1>
<h5>Agregar una película</h5>

<label> Nombre
    <input type="text" @bind="Nombre"/>
</label>

<label>
    Calificación (valor del 1 al 5)
    <input type="number" @bind="Calificación"/>
</label>

@if (EstamosModificando == true)
{
    <button type="button" class="btn btn-primary" @onclick="GuardarCambios">GuardarCambios</button>
}
else
{
    <button type="button" class="btn btn-primary" @onclick="Agregar">Agregar Película</button>
}
<br/>

@if (MensajeError != "")
{
    <label style="color: red">Error al crear una película: @MensajeError</label>
}

<PeliculasListado Datos="PeliculasList" MostrarBotones="true" ModificarEvent="Modificar" EliminarEvent="Eliminar"> 
    
</PeliculasListado>




@* @code {
    private int CantPeliculas = 0;
    private string MensajeError = "";
    private bool EstamosModificando = false;
    private PeliculasEntity? PeliculasModificando;

    private int Calificación = 0;
    private string Nombre = "";

    private List<PeliculasEntity> PeliculasList = new();


    private void Agregar()
    {
        @if (Calificación > 5 || Calificación < 1)
        {
            MensajeError = "La calificación debe ser del valor 1 al 5!";
        }
        else if (Nombre == "")
        {
            MensajeError = "Faltaron datos por ingresar!";
        }
        else
        {
            PeliculasList.Add(new PeliculasEntity(Nombre, Calificación));
            Nombre = "";
            Calificación = 0;
            CantPeliculas++;

            MensajeError = "";
        }

    }

    private void Modificar(PeliculasEntity peliculaModificar)
    {
        EstamosModificando = true;
        PeliculasModificando = peliculaModificar;

        Nombre = peliculaModificar.Nombre;
        Calificación = peliculaModificar.Calificación;
    }

    private void GuardarCambios()
    {
        @if (Calificación > 5 || Calificación < 1)
        {
            MensajeError = "La calificación debe ser del valor 1 al 5!";
        }
        else if (Nombre == "")
        {
            MensajeError = "Faltaron datos por ingresar!";
        }
        else
        {
            PeliculasModificando.Nombre = Nombre;
            PeliculasModificando.Calificación = Calificación;

            Nombre = "";
            Calificación = 0;

            EstamosModificando = false;
            PeliculasModificando = null;
        }
    }

    private void Eliminar(PeliculasEntity peliculaEliminar)
    {
        PeliculasList.Remove(peliculaEliminar);

        CantPeliculas--;
    }
}
 *@